.background {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &-fixed {
    background-attachment: fixed;
  }

  &-fixed-full {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
}
