//
// Positioning utilities
//

.h-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);  
}

.v-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hv-center {
  position: absolute;  
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.to-bottom{
  bottom: 0;
}

.to-top{
  top: 0;
}

.to-left{
  left: 0;
}

.to-right{
  right: 0;
}
