.navbar-default-height {
  height: $navbar-default-height;
  max-height: $navbar-default-height;
}

.vh-full {
  height: calc(100wh - #{$navbar-default-height});
}

.min-vh-full {
  min-height: calc(100wh - #{$navbar-default-height});
}
