@mixin highlight-block() {
    @include box-shadow($default-container-box-shadow); 
    background-color: transparentize($syntaxhl-bg, 0.4);
    padding: $syntaxhl-padding !important;    
    margin: $syntaxhl-margin !important;
}
  