// Custom layout
//
// Specific layout elements for bootlaterus

#main-container {
    background-color: $main-container-bg;
    padding-top: $main-container-padding;    
    padding-left: $main-container-padding;
    padding-right: $main-container-padding;
    padding-bottom: $main-container-padding;
}
