<footer class="container">
  <div class="row py-5 row-eq-height text-white">
    <div class="col-sm-3 h-100">
      <ul class="list-unstyled">
        <li class="text-muted">Bootlaterus</li>
        <li><a class="text-reset" href="https://equilaterus.github.io/bootlaterus/" target="_blank"
            rel="noopener noreferrer">Home page</a></li>
        <li><a class="text-reset" href="https://github.com/equilaterus/bootlaterus.gh-pages" target="_blank"
            rel="noopener noreferrer">Integration with Github Pages</a></li>
        <li><a class="text-reset" href="https://github.com/equilaterus/bootlaterus" target="_blank"
            rel="noopener noreferrer">Repository</a></li>
      </ul>
    </div>
    <div class="col-sm-3 h-100">
      <ul class="list-unstyled">
        <li class="text-muted">Downloads</li>
        <li><a class="text-reset" href="https://www.npmjs.com/package/bootlaterus" target="_blank"
            rel="noopener noreferrer">NPM</a></li>
        <li><a class="text-reset" href="https://github.com/equilaterus/bootlaterus/releases" target="_blank"
            rel="noopener noreferrer">Github Releases</a></li>
        <li><a class="text-reset" href="https://cdn.jsdelivr.net/npm/bootlaterus@latest/" target="_blank"
            rel="noopener noreferrer">jsDelivr CDN</a></li>
      </ul>
    </div>
    <div class="col-sm-3 h-100">
      <ul class="list-unstyled">
        <li class="text-muted">Docs</li>
        <li><a class="text-reset" href="https://github.com/equilaterus/bootlaterus/wiki" target="_blank"
            rel="noopener noreferrer">Wiki</a></li>
        <li><a class="text-reset" href="https://getbootstrap.com/docs/4.3/getting-started/introduction/" target="_blank"
            rel="noopener noreferrer">Bootstrap Official docs</a></li>
      </ul>
    </div>
    <div class="col-sm-3 h-100">
      <a class="text-reset text-center text-decoration-none d-flex flex-column"
        href="https://equilaterus.github.io" target="_blank" rel="noopener noreferrer">
        <img style="max-width: 60px" class="img-fluid mx-auto"
          src="https://equilaterus.github.io/wikilaterus/assets/img/logo-windmill-alpha-sm.png"
          alt="logo equilaterus" />
        <br />
        Equilaterus <br />
        <small class="text-muted">(CC) 2018 - 2019</small>
      </a>
    </div>
  </div>
</footer>
