.cfa:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@each $color, $value in $custom-gradients{
  .color-filter-#{$color} {
    @include create-gradient-bg(nth($value, 1), nth($value, 2), $gradient-alpha);
  }
    .cfa-#{$color}:after {
      @include create-gradient-bg-animated(nth($value, 1), nth($value, 2), $gradient-after-alpha);
    }
}


@each $color, $value in $colors{
  .color-filter-radial-#{$color} {
    @include create-radial-gradient-bg($value, $black, $gradiant-radial-alpha-from, $gradiant-radial-alpha-to);
  }
    .cfa-radial-#{$color}:after {
      @include create-radial-gradient-bg($value, $black, $gradiant-radial-alpha-from, $gradiant-radial-alpha-to);
    }
}
