// Custom transitions
//
// Special transitions for bootlaterus

//
// Defaults customized
//

.fade {
    @include transition($transition-fade);

    &:not(.show) {
        opacity: 0;
    }
}

.collapse:not(.navbar-side) {
    &:not(.show) {
        display: none;
    }
}

.collapsing:not(.navbar-side) {
    position: relative;
    height: 0;
    overflow: hidden;
    @include transition($transition-collapse);
}


//
// Custom elements
//

.navbar-side {
  &, & .navbar-nav{
    @include transition($navbar-side-transition);
  }
}

.navbar-side-left.collapse {
    &:not(.show) {
      height: auto;
      .navbar-nav{
        display: none;
        transform: translateX(-100%);
      }
    }
}
    .navbar-side-left.collapsing {
      overflow: hidden;
      .navbar-nav {
        transform: translateX(-100%);
      }
    }

.navbar-side-right.collapse {
    &:not(.show) {
      height: auto;
      .navbar-nav{
        display: none;
        transform: translateX(100%);
      }
    }
}
    .navbar-side-right.collapsing {
      overflow: hidden;
      .navbar-nav {
        transform: translateX(100%);
      }
    }
