.dropdown-dark {
  .dropdown-menu {
    background-color: $dropdown-dark-bg;
    color: $dropdown-dark-color;
    border: $dropdown-border-width solid $dropdown-dark-border-color;
  }

  .dropdown-item {
    color: $dropdown-dark-link-color;
  
    @include hover-focus {
      color: $dropdown-dark-link-hover-color;
      background: none;
      background-color: $dropdown-dark-link-hover-bg;
    }
  
    &.active,
    &:active {
      color: $dropdown-dark-link-active-color;
      @include gradient-bg($dropdown-dark-link-active-bg);
    }
  
    &.disabled,
    &:disabled {
      color: $dropdown-dark-link-disabled-color;
    }
  }
  
  // Dropdown section headers
  .dropdown-header {
    color: $dropdown-dark-header-color;
  }
  
  // Dropdown text
  .dropdown-item-text {
    color: $dropdown-dark-link-color;
  }

  .dropdown-divider {
    @include nav-divider($dropdown-dark-divider-bg, $dropdown-divider-margin-y);
  }
}

