@import "../base/_bootlaterus";

h1 {
  margin-bottom: 4.0rem;
}

h2, h3, h4, h5, h6,
.h2, .h3, .h4, .h5, .h6 {
  border-bottom: $headings-bottom-border;
}

.navbar {
  font-family: $headings-font-family;
}

.navbar-brand {  
  display: flex;
  justify-content: center;
  img {
    max-height: 30px;
  }
} 

.navbar-left {
  & > .navbar-brand {
    background-color: $black;
  }

  .footer-content{ 
    background-color: $gray-900;
    a {
      color: $gray-400;
      &:hover{
        color: $white;
      }
    }
  }
}