// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


// Bootstrap overrides
//
// Custom styles for bootlaterus overriding default values

$enable-flex:         true;
$enable-rounded:      true;
$enable-shadows:      true;
$enable-gradients:    true;
$enable-transitions:  true;

//
// Color system
//
$white:    #fff;
$gray-100: #f2f2f2;
$gray-200: #e7e6e6;
$gray-300: #dad8d8;
$gray-400: #c4c4c4;
$gray-500: #a8a8a8;
$gray-600: #817e7e;
$gray-700: #494949;
$gray-800: #383838;
$gray-900: #151515;
$black:    #000;

$blue:    #41a0eb;
$indigo:  #8752db;
$purple:  #634d8b;
$pink:    #b85684;
$red:     #dc3545;
$orange:  #f18934;
$yellow:  #e7a32a;
$green:   #62a318;
$teal:    #39ddac;
$cyan:    #26a3b6;

//
// Custom Layout colors
//

$body-bg:       $gray-100;
$body-color:    $gray-900;
$theme-colors: (
  "primary":    $blue
);

$breadcrumb-bg: $white;

//
// Custom Input colors
//

$input-color:                             $gray-700;
$input-placeholder-color:                 $gray-400;
$input-border-color:                      $gray-300;
$custom-control-indicator-border-color:   $input-border-color;


//
// Custom shadows
// Enabling shadows for all elements without it
//

$default-container-box-shadow:        0 0 6px rgba($black, .15);
$jumbotron-box-shadow:                0 0 6px rgba($black, .25);

$input-box-shadow:                    0 0 6px rgba($black, .1);
$btn-box-shadow:                      $input-box-shadow;
$custom-select-box-shadow:            $btn-box-shadow;
$dropdown-box-shadow:                 $input-box-shadow;
$custom-control-indicator-box-shadow: $input-box-shadow;
$kbd-box-shadow:                      $input-box-shadow;
$custom-range-track-box-shadow:       $input-box-shadow;
$custom-range-thumb-box-shadow:       $input-box-shadow;

//
// Fonts
//

@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:700');

$font-family-sans-serif:      "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

$headings-font-family:        "Raleway" !default;
$headings-font-weight:        700 !default;


//
// Grid columns
//

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;


// Custom components
//
// Variables for custom elements of bootlaterus

$main-container-bg:         #f2f2f2;
$main-container-padding:    $grid-gutter-width;


//
// Left Navbar
//

$navbar-left-max-width:     250px;